@addTagHelper "*,Microsoft.AspNetCore.Mvc.TagHelpers"
@model NorthwindUI.Models.CategoryListViewModel


<div class="list-group">
    @foreach (var category in Model.Categories)
    {
        <a asp-controller="Product" asp-action="Index" asp-route-categoryId="@category.CategoryId" class="list-group-item">@category.CategoryName</a>
    }
</div>