@addTagHelper "*,Microsoft.AspNetCore.Mvc.TagHelpers"
@model NorthwindUI.Models.CategoryListViewModel


<div class="list-group">
    @foreach (var category in Model.Categories)
    {
        var css = "list-group-item";
        if(category.CategoryId==Model.CurrentCategory)
        {
            css += " active";
        }
        <a asp-controller="Product" asp-action="Index" asp-route-categoryId="@category.CategoryId" class="@css">@category.CategoryName</a>
    }
</div>